[submodule "deps/facil.io"]
	path = deps/facil.io
	url = git@github.com:boazsegev/facil.io.git
[submodule "deps/clay"]
	path = deps/clay
	url = git@github.com:nicbarker/clay.git
[submodule "deps/raylib"]
	path = deps/raylib
	url = git@github.com:raysan5/raylib.git
